
# Ignore macOS Finder user-related files
.DS_Store

# Ignore Xcode user-related files
xcuserdata/

# Ignore CocoaPods installed files
Pods/
Podfile.lock

### Xcode Patch ###
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcworkspace/contents.xcworkspacedata
