<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>489218757259-auj0thjmpaoqvscci4kvvt1hn8mbhnoh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.489218757259-auj0thjmpaoqvscci4kvvt1hn8mbhnoh</string>
	<key>API_KEY</key>
	<string>AIzaSyCNGz-qCr1euXr13fVE7rve84QtOKKdhcI</string>
	<key>GCM_SENDER_ID</key>
	<string>489218757259</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Ellomix.Ellomix</string>
	<key>PROJECT_ID</key>
	<string>ellomix-47b97</string>
	<key>STORAGE_BUCKET</key>
	<string>ellomix-47b97.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:489218757259:ios:02134523e1d85d17</string>
	<key>DATABASE_URL</key>
	<string>https://ellomix-47b97.firebaseio.com</string>
</dict>
</plist>