//
//  Production.xcconfig
//  Ellomix
//
//  Created by Kevin Avila on 5/8/19.
//  Copyright © 2019 Ellomix. All rights reserved.
//

// App Settings
APP_NAME = Ellomix
APP_BUNDLE_ID = Ellomix.Ellomix

// Facebook
FACEBOOK_APP_ID = 714928195322801
FACEBOOK_DISPLAY_NAME = ellomix
FACEBOOK_URL_SCHEME = fb714928195322801

// Firebase
FCM_SERVER_KEY = AAAAcee10os:APA91bFHQki8PFc1liph5aPFU17fL68xt03pvFX7eHIvUciVIxbWvdmN9q5PUS_4Vss02Ao87rY0EERjwLfFSaMTrd9ZORENopyzqtV6n7UA5BzjMH-xmhJBcLPui8502WPWYEBLohm7
